/* Mematikan style default dari html link yang sudah jadul */
a {
  text-decoration: none;
  color: #000000;
}

/* Mematikan style default dari html button yang sudah jadul */
button {
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  background-color: transparent;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

/* Style default dari komponen dengan nama class button_main */
.button_main {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  max-width: 70vw;
  max-height: 70vw;
  border-radius: 20px;
  background-color: aquamarine;
  margin: 10px;
}

/* Style button_main ketika di hover */
.button_main:hover {
  background-color: #d7336eff;
  color: white;
}

/* Style default dari komponen dengan nama class main_container */
.main_container {
  padding-top: 50px;
  text-align: center;
}
